@import './fonts.scss';
@import './bootstrap/bootstrap';
body {
  font-family: 'Proxima-Nova', sans-serif;
  font-size: 16px;
}
hr {
  border: 1px solid #e0e0e0;
}
ul {
  display: inline-block;
}
$body-bg: #fff;
$light-blue: #f1f6ff;

@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { }
@include media-breakpoint-between(lg, xl) {
  .wrapper {
    min-width: 1432px;
    width: 1432px;
    margin: 0 auto;
    background: $body-bg;
    .main-top {
      &__flex_item {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__logo {
        background: url('assets/images/top_small_logo.png') no-repeat center 0 transparent;
        width: 140px;
        height: 63px;
      }
      &__nav {
        &_wrapper {
          display: inline-block;
        }
        &_wrapper_menu {
          width: 205px; background: #fff;
          border: 1px solid #e8e2f0;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07217);
          border-radius: 2px;
        }
        div {
          a {
            line-height: 41px;
          }
        }
        a {
          line-height: 19px;
          margin-right: 15px;
          color: #000;
          text-decoration: none;
        }
        .dropdown-toggle:after {
          display: none;
        }
      }
      &__contacts {
        &_logo {
          background: url('assets/images/Phone.svg') no-repeat 0 0 transparent;
          height: 39px;
          width: 39px;
          margin-right: 20px;
        }
        justify-content: flex-end;
        img {
          margin-right: 25px;
        }
        span {
          display: block;
          line-height: 21px;
        }
      }
    }
    .under-top {
      &__logo {
        background: url('assets/images/under_top_logo.svg') no-repeat 0 0 transparent;
        width: 240px;
        height: 108px;
      }
      &__wrapper_logo {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__text {
        p {
          padding: 0 295px;
        }
        h1 {
          font-family: Gilroy, sans-serif;
          font-weight: 800;
          font-size: 36px;
          line-height: 54px;
        }
      }
      &__list {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            margin-bottom: 3%;
          }
          li:before {
            content: url('assets/images/galka.svg');
            padding-right: 10px;
          }
        }
        width: 40%;
        margin: 40px auto;
      }
    }
    .banner {
      &__img {
        background: url('assets/images/main_banner.svg') no-repeat 0 0 transparent;
        height: 430px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__button {
        cursor: pointer;
        background: url('assets/images/yellow_button.svg') no-repeat 0 0 transparent;
        width: 270px;
        height: 55px;
        align-self: flex-end;
        margin-bottom: 20px;
      }
    }
    .under_banner {
      background: $light-blue;
      padding: 40px 0;
    }
    .advantage {
      background: $light-blue;
      &__item {
        &_1 {
          background: url('assets/images/advantage_1.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_2 {
          background: url('assets/images/advantage_2.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_3 {
          background: url('assets/images/advantage_3.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_4 {
          background: url('assets/images/advantage_4.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_5 {
          background: url('assets/images/advantage_5.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_6 {
          background: url('assets/images/advantage_6.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_7 {
          background: url('assets/images/advantage_7.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_8 {
          background: url('assets/images/advantage_8.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        &_9 {
          background: url('assets/images/advantage_9.svg') no-repeat center 0 transparent;
          height: 110px;
        }
        width: 294px;
        height: 214px;
        text-align: center;
        margin: auto auto 40px;
        h3 {
          font-weight: 800;
          font-size: 18px;
          line-height: 22px;
        }
        p {
          font-size: 15px;
          line-height: 21px;
          color: #616161;
        }
      }
    }
    .e-clinic {
      margin: auto;
      width: 85%;
      &__row {
        margin: 50px auto;
      }
      .banner__button {
        cursor: pointer;
        margin: 100px auto auto;
      }
      &__text {
        margin-bottom: 80px;
      }
      &__text:last-child {
        margin-bottom: 0;
      }
      a {
        color: #3855b3;
        border-bottom: thin #3855b3 dotted;
        text-decoration: none;
      }
      a + span {
        content: url('assets/images/galka_bottom.svg');
        padding-left: 5px;
      }
      h3 {
        padding-top: 80px;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        color: #616161;
      }
      &__img_1 {
        background: url('assets/images/e-clinic-1.svg') no-repeat 0 0 transparent;
        height: 266px;
      }
      &__img_2 {
        background: url('assets/images/e-clinic-2.svg') no-repeat 0 0 transparent;
        height: 305px;
      }
      &__img_3 {
        background: url('assets/images/e-clinic-3.svg') no-repeat 0 0 transparent;
        height: 245px;
      }
    }
    .statistic {
      margin: auto;
      width: 75%;
      h2 {
        font-weight: 800;
        font-size: 30px;
        line-height: 37px;
        color: #000;
        margin: 20px 0 30px 0;
      }
      h3 {
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
        margin: 10px 0;
      }
      p {
        font-size: 15px;
        line-height: 21px;
        color: #4a5b79;
      }
      &__item {
        background: $light-blue;
        height: 270px;
        &_wrapper_1, &_wrapper_2 {
          padding-right: 0;
        }
        &_wrapper_blue, &_wrapper_3 {
          padding-left: 0;
        }
        &_blue {
          position: absolute;
          background: url('assets/images/rectangle.svg') no-repeat 0 0 transparent;
          height: 332px;
          padding: 50px 100px 0 50px;
          top: -10%;
          left: -5%;
          z-index: 1;
          h3 {
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            color: #fff;
          }
          p {
            font-size: 15px;
            line-height: 21px;
            color: #cad7ff;
          }
          &_img {
            background: url('assets/images/yellow_book.svg') no-repeat 0 0 transparent;
            height: 73px;
          }
        }
        padding: 20px 0 30px 30px;
      }
      &__item_1 {
        border-bottom: 1px solid #d0daec;
        border-right: 1px solid #d0daec;
      }
      &__item_2 {
        border-right: 1px solid #d0daec;
      }
      &__img_1 {
        background: url('assets/images/statistic_1.svg') no-repeat 0 0 transparent;
        height: 69px;
      }
      &__img_2 {
        background: url('assets/images/statistic_2.svg') no-repeat 0 0 transparent;
        height: 69px;
      }
      &__img_3 {
        background: url('assets/images/statistic_3.svg') no-repeat 0 0 transparent;
        height: 69px;
      }
    }
    .footer {
      margin-top: 30px;
      hr {
        border: 1px solid #d9d9d9;
        width: 44%;
        margin: 0;
        padding: 0;
      }
      &__logo {
        margin: 0 auto;
      }
      &__logo_wrapper {
        display: flex;
        align-items: center;
      }
      &__text_wrapper {
        .copyright {
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          margin-right: 35px;
        }
        li {
          font-family: Roboto, sans-serif;
          font-size: 15px;
          line-height: 30px;
          color: #000;
        }
        li:before {
          content: url('assets/images/tire.svg');
          position: relative;
          padding-right: 5px;
          bottom: 5px;
        }
        b {
          font-family: Gilroy, sans-serif;
          font-size: 19px;
          line-height: 24px;
          color: #000;
        }
      }
      &__text_wrapper_copyright {
        font-family: Roboto, sans-serif;
        font-size: 15px;
        line-height: 33px;
      }
      &__text_wrapper_p {
        line-height: 20px;
        color: #5d5d5d;
        margin: 0;
      }
    }
    .feedback_form {
      input, textarea {
        width: 372px;
        background: #fff;
        border: 1px solid #e8e8e8;
        border-radius: 3.5px;
      }
      input {
        height: 48px;
        outline: none;
      }
      ::placeholder {
        color: #c8c8c8;
        padding: 10px;
        font-size: 18px;
        line-height: 22px;
      }
      textarea {
        height: 133px;
        outline: none;
        resize: none;
      }
      button {
        width: 251px;
        height: 48px;
        background: #ffcc2b;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 18px;
        line-height: 22px;
        color: #000;
      }
      margin: 50px 0;
      &__wrapper {
        width: 826px;
        height: 332px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.75);
        &_img {
          background: url('assets/images/feedback_form_envelope.svg') no-repeat center 0 transparent;
          height: 120px;
          margin-top: 15px;
        }
        &_block {
          &_item {
            &_button {
              padding-left: 40px;
            }
            margin-bottom: 15px;
            text-align: right;
          }
          h3 {
            font-weight: bold;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            color: #000;
          }
          p {
            line-height: 24px;
            text-align: center;
            color: #616161;
            width: 327px;
            margin: auto;
          }
          width: 50%;
        }
      }
    }
  }
}